services:
  file-export-server:
    image: ghcr.io/glissemantv/owui-file-export-server:latest
    container_name: file-export-server
    restart: unless-stopped
    environment:
      - FILE_EXPORT_DIR=/output
    ports:
      - "9003:9003"
    volumes:
      - export-data:/output
    networks:
      - ai_network

  owui-mcpo:
    image: ghcr.io/glissemantv/owui-mcpo:latest
    container_name: owui-mcpo
    environment:
      - FILE_EXPORT_BASE_URL=http://file-export-server:9003/files
      - FILE_EXPORT_DIR=/output
      - MCPO_API_KEY=${MCPO_API_KEY}
      - PERSISTENT_FILES=true
      - FILES_DELAY=1
      - LOG_LEVEL=DEBUG
      - IMAGE_SOURCE=local_sd
      - LOCAL_FLUX_URL=http://imgen:8020
      - LOCAL_FLUX_STEPS=5
      - LOCAL_FLUX_WIDTH=512
      - LOCAL_FLUX_HEIGHT=512
      - LOCAL_FLUX_SCALE=1.0
      - DOCS_TEMPLATE_DIR=/docs_templates
      - OWUI_URL=http://owui:3000
    ports:
      - "8030:8000" #<= builtin MCPO
      - "9004:9004" #<= SSE server
    restart: unless-stopped
    volumes:
      - export-data:/output
    depends_on:
      - file-export-server
    networks:
      - ai_network

volumes:
  export-data:

networks:
  ai_network:
    external: true 